<div class="jumbotron form-custom">
	<h1>Scrabble Score calculator!</h1>

	<p>This simple calculator uses the letter values given <a href="/rules">here</a> to tell you how much a word worth in the game of Scrabble.<p>

	<p>Enter the word in the box below and press the <strong>Calculate</strong> button.<p>

	<form action="/result">
		<div class="form-group">
			<label for="user_word">Type your word</label>
			<input type="text" name="user_word" id="user_word" class="form-control">
		</div>
		<button type="submit" class="btn btn-info btn-md">Calculate</button>
	</form>
</div>