<div class="jumbotron">
	<h2>The Scrabble Score for <span><%= @user_word %></span> is <span><%= @word_score %></span>!</h2>
	<p>If you want to calculate another word click <a href="/">here</a>.</p>
</div>